<h1>StaticPages#top</h1>
<p>Find me in app/views/static_pages/top.html.erb</p>

<!-- コメント -->
<p>犬小屋</p>
<textarea id="textarea"></textarea>
<button id="button">super John</button>

<script>
  const button = document.getElementById('button');
  const textarea = document.getElementById('textarea');

  button.addEventListener('click', ()=> {
    const text = textarea.value;
    alert(text)
  });
</script>

<br>
<br>
<p>じょん</p>
<!-- コメント -->
<lable for="amount">数値</label>
<input type="number" name="amount" id="js-amount">
<button id="js-add-button">増やす</button>
<button id="js-minus-button">減らす</button>
<p>結果</p>
<p id="js-result"><p>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    var currentValue = 0
    const jsAddButton = document.getElementById('js-add-button')
    const jsMinusButton = document.getElementById('js-minus-button')
    const jsAmount = document.getElementById('js-amount')
    const jsResult = document.getElementById('js-result')

    jsAddButton.addEventListener('click', () => {
      const amount = jsAmount.value
      currentValue += parseInt(amount)
      jsResult.innerText = currentValue
    })

    jsMinusButton.addEventListener('click', () => {
      const amount = jsAmount.value
      currentValue -= parseInt(amount)
      jsResult.innerText = currentValue
    })  
  })
</script>
