<h1>dog action</h1>
<p>犬小屋</p>

<div class="border"></div>

<p>イベントオブジェクトボタン</p>
<button id='element'>ボタンです</button>

<script>
  button = document.getElementById('element');
  console.log(button);

  button.addEventListener('click', function(event) {
    console.log(event.type);
    console.log(event.currentTarget);
    console.log(`${event.clientX} : ${event.clientY}`);
    console.log(event.altKey);
  });

</script>