<h1>dog action</h1>
<p>犬小屋</p>

<div class="border"></div>

<p>イベントオブジェクトボタン</p>
<button id='element'>ボタンです</button>

<div class="border"></div>

<!-- JSは別ファイルに書いてみる -->
<p>イベントボタン2</p>
<div class = 'add-button'>
  <button onclick='addButton()'>増えるボタン</button>
</div>

<div class="border"></div>

<!-- イベントリスナーとイベントハンドラ -->
<p>イベントリスナーとイベントハンドラ</p>
<button id='eventL'>イベントリスナーボタン</button>
<br>
<button id='eventH'>イベントハンドラボタン</button>


<!-- JS部 -->
<script>
  // イベントオブジェクトボタン用
  button = document.getElementById('element');
  console.log(button);

  button.addEventListener('click', function(event) {
    console.log(event.type);
    console.log(event.currentTarget);
    console.log(`${event.clientX} : ${event.clientY}`);
    console.log(event.altKey);
  });

  // イベントリスナーとイベントハンドラ
  const buttonL = document.querySelector('#eventL');
  const buttonH = document.querySelector('#eventH');

  // イベントリスナー
  buttonL.addEventListener('click', function() {
    console.log('1つ目の処理');
  });
  buttonL.addEventListener('click', function() {
    console.log('2つ目の処理');
  });

  //　イベントハンドラ
  buttonH.onclick = function() {
    console.log('1つ目の処理');
  }

  buttonH.onclick = function() {
    console.log('2つ目の処理');
  }

  // Enter押したら発火
  document.addEventListener('keydown', function(event) {
    if (event.key === 'Enter') {
      alert('You pressed the Enter key!');
    }
  });

</script>