<h1>Animals#index</h1>
<p>Find me in app/views/animals/index.html.erb</p>

<p id="dog">jQueryを使ってみる</p>

<script>
  $(function(){
    $("#dog").css("color", "red")
  });
</script>

<button id="hot_dog">jQueryボタン</button>
