<h1>js action</h1>
<p>すらすらわかるJavaScript新版</p>

<a href="https://www.google.co.jp/" target="_blank">new window</a>
<%= link_to 'new window2', 'https://www.google.co.jp/', target: '_blank' %>

<script>
  alert('画面にアラートを表示させる');
</script>
