<h1>js action</h1>
<p>すらすらわかるJavaScript新版</p>

<a href="https://www.google.co.jp/" target="_blank">super John</a>
<%= link_to 'new window2', 'https://www.google.co.jp/', target: '_blank' %>

<script>

  const result = confirm('犬になりますか？');
  if (result) {
	  alert('Hello Dog World');
  } else {
	  alert('仔犬からやり直して下さい');
  }
  
</script>
