<h1>jsapp4 action</h1>
<p>FreeDom</p>
<div class="border"></div>

<div class='m-4'>hot_dog</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/decimal.js/10.4.2/decimal.min.js">
  // decimal.jsを使用してみる(Consoleでテストする)
  let d1 = new Decimal('0.14');
  let d2 = new Decimal('0.28');
  console.log(d1.add(d2).toNumber());
</script>